/*to write css code that applies to all paragraphs or divs,  
you would need to do the following: 
    p {
        color: blue; 
    }
*/

/*to write css code that applies to all of the elements
 with the class "highlight," you would need to do the following: 
    .highlight {
        background-color: yellow; 
    }
*/

/*to write css code that applies to the element with the id "myDiv", 
you would need to do the following: 
    #myDiv {
        background-color: yellow; 
    }
*/
body {
    font-family: sans-serif;  
}

#div1 {
    color: blue; 
}

#styleBox1 {
    border: 2px solid black; 
    border-radius: 10px 10px 0 0;  
}

#styleBox2 {
    border: 2px solid black; 
    border-radius: 0 0 0 10px; 

}

#styleBox3 {
    border: 2px solid black; 
    border-radius: 0 10px 10px 0;  
}

#colorBox0 {
    background-color: white; 
    margin: 10%; 
    border-radius: 50%; 
    height: 25px; 
    width: 25px; 
    border: 2px solid black; 

}

#colorBox1 {
    background-color: #F778A1; 
    margin: 10%; 
    border-radius: 50%; 
    height: 25px; 
    width: 25px; 
    border: 0;
}


#colorBox2 {
    background-color: #6698FF; 
    width: 25px;  
    height: 25px;
    border-radius: 50%; 
    margin: 10%; 
    border: 0; 
}

#colorBox3 {
    background-color: #FFE87C; 
    width: 25px;  
    height: 25px;
    border-radius: 50%;  
    margin: 10%; 
    border: 0; 
}

#colorBox4 {
    background-color: #34A56F;
    width: 25px;  
    height: 25px;
    border-radius: 50%;  
    margin: 10%; 
    border: 0; 
}