/*to write css code that applies to all paragraphs or divs,  
you would need to do the following: 
    p {
        color: blue; 
    }
*/

/*to write css code that applies to all of the elements
 with the class "highlight," you would need to do the following: 
    .highlight {
        background-color: yellow; 
    }
*/

/*to write css code that applies to the element with the id "myDiv", 
you would need to do the following: 
    #myDiv {
        background-color: yellow; 
    }
*/
.custom-max-width-container{
    max-width: 700px; 
}

body {
    font-family: sans-serif;  
}

#div1 {
    color: blue; 
}

#styleBox1 {
    background-color: black;
    border: 2px solid #00ccff; 
    border-radius: 10px 10px 0 0; 
    color: #33e96c;
    text-align: center; 
}

#styleBox2 {
    background-color: black;
    border: 2px solid #00ccff; 
    border-radius: 0 0 0 10px; 
    color: #33e96c;

}

#styleBoxMiddle {
    background-color: black; 
    border: 1px solid #00ccff; 
    border-radius: 0 10px 0 0;
    color: grey; 
    font-size: 80%;
}

#styleBox3 {
    background-color: black;
    border: 2px solid #00ccff; 
    border-radius: 0 0 10px 0;  
    color: #33e96c; 
}

#colorBox0 {
    background-color: white; 
    margin: 10%; 
    border-radius: 50%;
    width: 28px; 
    height: 28px; 
    border: 2px solid black; 
}

#colorBox1 {
    background-color: #F778A1; 
    margin: 10%; 
    border-radius: 50%; 
    height: 30px; 
    width: 30px; 
    border: 0;
}


#colorBox2 {
    background-color: #6698FF; 
    width: 30px;  
    height: 30px;
    border-radius: 50%; 
    margin: 10%; 
    border: 0; 
}

#colorBox3 {
    background-color: #FFE87C; 
    width: 30px;  
    height: 30px;
    border-radius: 50%;  
    margin: 10%; 
    border: 0; 
}

#colorBox4 {
    background-color: #34A56F;
    width: 30px;  
    height: 30px;
    border-radius: 50%;  
    margin: 10%; 
    border: 0; 
}

#nums {
    color: grey; 
    margin: 3%; 
}

#insideStyle{
    color: yellow; 
}

.verticalLine{
    border-left: 2px solid grey; 
    height: 100%;

}